<div id="<%= dom_id entry %>">
  <p>
    <strong> <%= entry.calories %></strong>
    calories
  </p>

  <p>
    <strong> <%= entry.proteins %></strong>
     proteins 
  </p>

  <p>
    <strong> <%= entry.carbohydrates %></strong>
     carbohydrates
  </p>

  <p>
    <strong> <%= entry.fats %></strong>
    fats
  </p>

</div>
